* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0F0F13;
    color: white;
    display: grid;
    grid-template-rows: 8vh 1px 91vh;
    grid-template-columns: 20em auto;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separate {
    grid-column: 1/4;
    grid-row: 2/3;
    /* height: 1px; */
    background-color: rgb(85, 87, 89);
    z-index: 10;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    padding: 0.125em 1.25em;
    border: none;
    border-radius: 0.25rem;
    background-color: #38bdf8;
    color: rgb(0, 0, 0);
}

.todo_btn {
    position: absolute;
    right: 2em;
    height: 2.25em;
    /* transition: background-color 0.2s ease, transform 0.15s ease; */
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #16161D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.headline {
    margin: 1em 0em;
}

.project_btn {
    margin: 1em;
    width: 18em;
    display: flex;
    gap: 0.75em;
}
.projectContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.project{
    width: 15em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    border: 2px solid rgb(85, 87, 89);
    border-left: 3px solid #38bdf8;
    border-bottom: 1px solid #38bdf8;
    border-radius: 0.5rem;
    padding: 0.5em 1.25em;

}
.projectInput{
    margin: 0.5em 0;
    padding-left: 15px;
    width: 15em;
    height: 2em;
    background-color: #0F0F13;
    color: white;
    font-size: 1em;
    font-weight: bolder;
}
.project>div {
    width: 15px;
    height: 15px;
    background-color: #38bdf8;
    border: 1px solid #38bdf8;
    border-radius: 1em;
}

.container {
    margin: 1em;
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
}

.todo {
    margin: 0.75em ;
    width: 95%;
    min-height: 7em;
    background-color: #16161D;
    padding: 1em 0 1em 0;
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.todo > div{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
}
.show{
    gap: 0.75em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.hidden{
    display: none !important;
}
.task_check {
    width: 1.125em;
    height: 1.125em;
    border: 2px solid rgb(85, 87, 89);
    border-radius: 0.25em;
    cursor: pointer;
}
.todo input[type="checkbox"] {
    /* accent-color: #38bdf8; */
    accent-color: rgb(2, 135, 2);
    
}
.todo input:checked + h3{
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
.todo_icons{
    position: absolute;
    right: 1em;
    bottom: 0.125em;
    display: flex;
    gap: 1em;
}
.high_btn{
    margin-left: 1.75em;
    padding: 0.125em 0.75em;
    border-radius: 0.5em;
    color: #e76153;
    background-color: #392730;
}
.medium_btn{
    margin-left: 1.75em;
    padding: 0.125em 0.75em;
    border-radius: 0.5em;
    color: #d47846;
    background-color: #3F322D;
}
.low_btn{
    margin-left: 1.75em;
    padding: 0.125em 0.75em;
    border-radius: 0.5em;
    color: #5DD079;
    background-color: #293A34;
}
.high{
    border-left:7px solid #F84F3C;
    border-bottom:1px solid #F84F3C;
    border-radius: 20px 0 0 20px;
}
.medium{
    border-left:7px solid #C96935;
    border-bottom:1px solid #C96935;
    border-radius: 20px 0 0 20px;
}
.low{
    border-left:7px solid #2fa64d;
    border-bottom:1px solid #2fa64d;
    border-radius: 20px 0 0 20px;
}
.deadline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

dialog{
    justify-self: center;
    align-self: center;
    position: relative;
    padding: 1.25rem;
    width: 35rem;
    min-height: 25rem;
    background-color: #16161D;
    backdrop-filter: blur(50px);
    color: white;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 0.8rem;
 }
dialog div{
    padding: 1.25rem;
 }
dialog>div{
    display: flex;
}
dialog label{
    font-size: 1.23em;
}
#myform input[type="text"],input[type="date"] {
    margin-top: 7px;
    width: 35em;
    height: 2.5em;
    padding: 0px 15px;
    background-color: #1E1E28;
    color: white ;
    border: 1px solid #3c3f50;
 }
  select{
    text-align: center;
    margin-left: 1em;
    width: 20em;
    height: 2em;
    font-size: 1em;
    font-weight: bolder;
    background-color: #16161D;
    color: white;
  }
 #submit_form{
    background-color: #38bdf8;
    color: #16161D;
    font-size: 1.125em;
    font-weight: bolder;
    width: 26em;
    height: 3em;
    border: 2px solid #252c54;
 }
 #cancel{
    position: absolute;
    right: 2.5em;
    background-color: #16161D;
    color: rgb(212, 208, 216);
    font-weight: bolder;
    border: none;
    font-size: 1.2em;
 }